html,body {
    font-family: PT Sans Narrow;
}
body > .container {
    padding-top: 60px;
}

body .wrap > nav {
    opacity: 0.1;
}

body > footer {
    border-top: 1px solid #bababa;
    color: #bababa;
    margin-top: 25px;
    padding-top: 25px;
    a {
        color: #bababa;
        transition: color 0.75s;
        &:hover {
            color: gray;
            text-decoration: none;
        }
    }
    .social {
        font-size: 14px;
        text-align: right;
        i {
            font-size: 18px;
        }
    }
}

/* Colore oggetti e # */
.lb-obj {
    color: #55acee;
}
i.fa-slack {
    -ms-transform: rotate(19deg);
    -webkit-transform: rotate(19deg);
    transform: rotate(19deg);
}

/* Entry widget */
.entry-widget {
    .panel-heading {
        background: #e5e5e5;
        color: gray;
        padding: 3px 5px 5px 5px;
        .badge {
            background: #bbb;
        }
    }
    .panel-body {
        background: #f5f5f5;
    }
}

/* Varie */
p.created {
    color: #bababa;
    font-size: 12px;
    font-style: italic;
}